
node_modules/

.idea/

platforms/

plugins/

workspace.xml

www/dist/application.module.js

package-lock.json

.idea/workspace.xml

www/libs/framework/*.js

www/libs/framework/*.js.map

www/src/*.js.map

www/src/*/*.js.map

www/src/**/*.js.map

www/src/*.js

www/src/*/*.js

www/src/**/*.js