<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />

    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' provider: gap: 'unsafe-inline' https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *" /> -->

    <link type="text/css" rel="stylesheet" href="../../libs/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../../libs/materialize/init.css" />

    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <script type="text/javascript" charset="utf-8" src="../../cordova.js"></script>
    <script type="text/javascript" src="../../dist/application.module.js" ></script>
    <script type="text/javascript" src="../../libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../libs/materialize/js/materialize.min.js"></script>
</head>

<body>

    <div class="col s12" >
        <div id="test-swipe-1" class="col s12 blue"><div data-fragment="main_tab1_fragment" ></div></div>
        <div id="test-swipe-2" class="col s12 red"><div data-fragment="main_tab2_fragment" ></div></div>
        <div id="test-swipe-3" class="col s12 green"><div data-fragment="main_tab3_fragment" ></div></div>
        <div id="test-swipe-4" class="col s12 green"><div data-fragment="main_tab4_fragment" ></div></div>

        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
            <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
            <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
            <li class="tab col s3"><a href="#test-swipe-4">Test 4</a></li>
        </ul>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>

</body>

</html>